<body>
<div class="info">
    <b>Deposit information: </b><i>{{contactData.info}}</i><br><br>
    <b>Address: </b><i>{{contactData.address}}</i><br><br>
    <b>Open days: </b><i>{{contactData.openDays}}</i><br><br>
    <b>Time slot: </b><i>{{contactData.timeSlot}}</i><br><br>
    <b>Phone number: </b><i>{{contactData.phone}}</i><br><br>
</div>

<div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2789.077460407218!2d25.598945175937683!3d45.64926617107758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35b818c46d8c9%3A0x8b2b511c204c2cff!2sCorpul%20P%2C%20Strada%20Iuliu%20Maniu%2050%2C%20Bra%C8%99ov%20500091!5e0!3m2!1sen!2sro!4v1736844474280!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</body>
